<div class="cont-<%=message.user.id%>">
  <div class="message-box msg-<%= message.user.id %>">
    <div class="d-flex align-items-center message_info">
      <%= image_tag(message.user.chat_avatar, class:'chat_avatar') %>
      <div class="message_nametime">
        <h6 class="name" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= (message.user.email) %>"><%= message.user.username %></h6>
        <p class="time" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= (message.created_at) %>"><%= time_ago_in_words(message.created_at) %> ago</p>
      </div>
    </div>
    <div>
        <!-- <a class="message_body"><%= raw Rinku.auto_link(message.body, :all, 'title="Visiting this page may not be safe!" target="_blank"') %></a> -->
      <a><%= message.body %></a>
    </div>
    <%= render 'messages/attachments', message: message %>
  </div>
</div>